#### Combine Data Set
- 결합 : merge, concat
- concat
    - 위/아래, 왼쪽/오른쪽 연결
    - pd.concat([데이터프레임...])
- merge
    - sql join 개념과 동일
    - inner, outer

In [2]:
import pandas as pd

In [3]:
s1 = pd.Series(["a","b"])
s2 = pd.Series(["c","d"])

In [9]:
s1

0    a
1    b
dtype: object

In [10]:
s2

0    c
1    d
dtype: object

In [8]:
# concat() : 아래로 합치기

pd.concat([s1,s2],ignore_index=True)

0    a
1    b
2    c
3    d
dtype: object

In [11]:
# 뭐지 ?? 

data= [
    ["a", 1],
    ["b", 2]
]

df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [12]:
data= [
    ["c", 3, "letter"],
    ["d", 4, "number"]
]

df2 = pd.DataFrame(data, columns=["letter","number"])
df2

ValueError: 2 columns passed, passed data had 3 columns

In [13]:
# df, df2 합치기

pd.concat([df,df2],ignore_index=True)

NameError: name 'df2' is not defined

In [14]:
data= [
    ["e", 5, "cat"],
    ["f", 6, "dog"]
]

df3 = pd.DataFrame(data, columns=["letter","number", "animal"])
df3

  letter  number animal
0      e       5    cat
1      f       6    dog

In [15]:
# df, df3 결합

pd.concat([df,df3], ignore_index=True)

  letter  number animal
0      e       5    cat
1      f       6    dog

In [17]:
# join - inner, outer
# inner : 첫번째 df 기준
# outer : default, 두번째 df 기준

pd.concat([df,df3], ignore_index=True, join="inner")

Empty DataFrame
Columns: []
Index: [0, 1]

In [18]:
# axis=1 : 컬럼기준(옆으로 결합)

pd.concat([df, df2], axis=1)

NameError: name 'df2' is not defined

In [ ]:
df4 = pd.DataFrame([1], index=["a"])
df5 = pd.DataFrame([])

In [ ]:
df4

In [19]:
# pd.concat([df4,df5],ignore_index=True)

# ValueError: Indexes have overlapping values
# verify_integrity=True : 동일한 인덱스를 가지고 있는 경우 에러 메세지 보여주기
# pd.concat([df4,df5], verify_integrity=True)
pd.concat([df4,df5])

NameError: name 'df4' is not defined

In [34]:
df1 = pd.DataFrame(
    {
        "name":["John","Nate","Red"],
        "job":["teacher","student","developer"],
    }
)
df2 = pd.DataFrame(
    {
        "age":[25,30,45],
        "job":["u.s","u.k","korea"],
    }
)

In [35]:
# df1, df2 결합(위,아래)

pd.concat([df1,df2])

   name        job   age
0  John    teacher   NaN
1  Nate    student   NaN
2   Red  developer   NaN
0   NaN        u.s  25.0
1   NaN        u.k  30.0
2   NaN      korea  45.0

In [29]:
# df1, df2 결합(옆으로)

pd.concat([df1,df2],axis=1)

   name        job  age    job
0  John    teacher   25    u.s
1  Nate    student   30    u.k
2   Red  developer   45  korea

In [37]:
# merge(sql join 과 유사)

df1 = pd.DataFrame({"x1":["A","B","C"], "x2":[1,2,3]})
df2 = pd.DataFrame({"x1":["A","B","D"], "x2":["T","F","T"]})

In [38]:
pd.merge(df1, df2, how="left", on="x1")

  x1  x2_x x2_y
0  A     1    T
1  B     2    F
2  C     3  NaN

In [39]:
pd.merge(df1, df2, how="right", on="x1")

  x1  x2_x x2_y
0  A   1.0    T
1  B   2.0    F
2  D   NaN    T

In [40]:
pd.merge(df1, df2, how="inner", on="x1")

  x1  x2_x x2_y
0  A     1    T
1  B     2    F

In [41]:
pd.merge(df1, df2, how="outer", on="x1")

  x1  x2_x x2_y
0  A   1.0    T
1  B   2.0    F
2  C   3.0  NaN
3  D   NaN    T

In [42]:
pd.merge(df1, df2, how="outer", on="x1", indicator=True)

  x1  x2_x x2_y      _merge
0  A   1.0    T        both
1  B   2.0    F        both
2  C   3.0  NaN   left_only
3  D   NaN    T  right_only